body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: #fff;
    color: #006666;
    border: 2px solid #999;
    float: left;
    font-size: 60px;
    font-weight: bold;
    line-height: 34px;
    height: 120px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 120px;
    margin: 1px;
    box-shadow: 4px 4px 4px #888,
    -4px -4px 4px #888;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
    background-color: #aaa;
    padding: 5px 5px 0 5px;
}

.game-info li {
    background-color: #575757;
    padding: 3px;
    margin-bottom: 3px;
}

.game-info ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}

.game-info button {
    font-weight: bold;
    background-color: white;
    padding: 5px;
    border: none;
    outline: none;
}

.game-info div {
    margin-bottom: 0px;
    font-size: 28px;
    color: white;
    background-color: #006666;
    padding: 10px 20px 10px 15px;
}